@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Poppins';
  src: url('/font/Poppins-Medium.ttf');
  font-style: normal;
}
@font-face{
  font-family: 'sofiFont';
  src: url('/font/Unbounded.ttf');
}
.no-spinner::-webkit-inner-spin-button,
.no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.no-spinner {
  -moz-appearance: textfield; /* For Firefox */
}